#node_modules
# Keep environment variables out of version control
.env
# Musics that i used on app tests
toTestingMyApp.mp3
toTestingMyAppII.mp3
toTestingMyAppIII.mp3
toTestingMyAppIV.mp3
pega-pega-convert.mp3

#docker files
Dockerfile
docker-compose.yml

#routes tests
routesReqs.http
